/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Sidebar */
.sidebar 
{
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  background-color: #1E1E2F; 
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h2 
{
  font-size: 18px;
  margin-bottom: 15px;
}

.sidebar ul 
{
  list-style: none;
}

.sidebar ul li a 
{
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar ul li a:hover 
{
  background-color: #343454; /* efeito hover */
}

/*Menu*/
.menu
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item
{
  border-bottom: 1px solid #eee;
}

.menu-toggle
{
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.menu-toggle::after
{
  content: "▸";
  transition: transform 0.3s;
}

.menu-toggle[aria-expanded="true"]::after
{
  transform: rotate(90deg);
}

.submenu
{
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
  display: none;
}

.submenu li
{
  padding: 5px 0px;
  font-size: 13px;
  color: #555;
  cursor: pointer;
}

.submenu li:hover
{
  background: #f0f0f0;
}


/* Main content */
.main
{
  margin-left: 220px;
  min-height: 100vh;
  background-color: #F5F5F5;
}

/* Topbar */
.topbar {
  position: center;
  justify-content: center;
  height: 60px;
  background-color: #2E2E3F;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Content */
.content 
{
  padding: 20px;
}
